@{
    ViewData["Title"] = "Beta Page";
}

<div class="text-center">
    <h1 class="display-4">This is beta MVC Controller</h1>
    <p>Learn about <a href="https://github.com/microsoft/FeatureManagement-Dotnet">Feature Management</a>.</p>
</div>
